/************************************/
/* BELOW 1200px (Landscape Tablets) */
/************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 5rem;
    row-gap: 6.4rem;
  }
  .meal {
    width: 100%;
  }
}

/************************************/
/* BELOW 944px (Tablets) */
/************************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .grid-4-col {
    grid-template-columns: repeat(3, 1fr);
  }
  .meal {
    width: 100%;
  }
}

/************************************/
/* BELOW 704px (Smaller tablets) */
/************************************/

@media (max-width: 44em) {
  .grid-4-col {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal {
    width: 100%;
  }
}

/************************************/
/* BELOW 544px (Phones) */
/************************************/

@media (max-width: 34em) {
  .grid-4-col {
    grid-template-columns: 1fr;
  }
  .meal {
    width: 100%;
  }
}
